// bower:scss
// endbower

// VARIABLES
$fontBody: 20;
$border: 4px;
// END VARIABLES

// MIXINS
@mixin font-size($value) {
  font-size: $value*$fontBody + px;
}

@mixin gradient($color1, $color2) {
  background: $color1;
  background-image: -webkit-linear-gradient(top, $color1, $color2);
  background-image: -moz-linear-gradient(top, $color1, $color2);
  background-image: -ms-linear-gradient(top, $color1, $color2);
  background-image: -o-linear-gradient(top, $color1, $color2);
  background-image: linear-gradient(to bottom, $color1, $color2);
}

@mixin border-radius($radius1, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
  -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
  -o-border-radius: $radius1 $radius2 $radius3 $radius4;
  -ms-border-radius: $radius1 $radius2 $radius3 $radius4;
  border-radius: $radius1 $radius2 $radius3 $radius4;
}
// END MIXINS

* {
  margin: 0;
  padding: 0;
  background-clip: padding-box !important;  
  -moz-background-clip: padding !important;  
  -webkit-background-clip: padding !important;
  outline: none !important;
}

html, body {
  height:100%
}

body {
  @include font-size(1);
  font-family: 'Roboto', sans-serif;
}

#container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

#btns {
 display: table;
 margin: 0;
 width: 100%;
}

.btn {
  color: #fff;
  cursor: pointer;
  @include gradient(#cbcbcb, #999);
  padding: 10px;
  display: table-cell;
  width: 33.33%;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  &:first-child {
    @include border-radius($border, 0px, 0px, $border);
  }
  &:last-child {
    @include border-radius(0px, $border, $border, 0px);
  }
}

.btn.active {
  @include gradient(#00abea, #0077d2);
}

#find {
  margin: 10px auto;
  width: 100%;
}

#icon-find {
  background-image: url(../images/find.svg);
  background-size: 100% 100%;
  width: 37px;
  height: 37px;
  position: absolute;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 10px 10px 10px 37px;
  border: 1px solid #ddd;
  @include border-radius($border, $border, $border, $border);
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: grey;
  box-sizing: border-box;
  height: 37px;
  font-weight: 300;
  @include font-size(0.8);
}

#table {
  display: table;
  width: 100%;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  @include border-radius($border, $border, $border, $border);
}

.row {
  display: table-row;
  height: 100%;
  &:last-child {
    .cell1, .cell2, .cell3 {
      border-bottom: none;
    }
  }
}

.cell1, .cell2, .cell3 {
  display: table-cell;
  width: 33.33%;
  height: 100%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  @include font-size(0.8);
  padding: 5px;
  vertical-align: middle;
  &:last-child {
    border-right: none;
  }
}

.cell1, .cell3 {
  text-align: center;
}

.fields {
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  .cell1, .cell2, .cell3 {
    div {
      display: inline-block;
    }
  }
}

a, a:visited, a:hover, a:active {
  color:inherit;
  text-decoration: none;
}

#loading {
  margin: auto;
  display: block;
}

#error {
  text-align: center;
}

.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #000 transparent;
}

.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
}