<div id="btns">
  <div class="btn" ng-class="{'active':author == 'Hemingway'}" ng-click="selectAuthor('Hemingway')">Ernest  Hemingway</div>
  <div class="btn" ng-class="{'active':author == 'Dickens'}" ng-click="selectAuthor('Dickens')">Charles Dickens</div>
  <div class="btn" ng-class="{'active':author == 'Shakespeare'}" ng-click="selectAuthor('Shakespeare')">William Shakespeare</div>
</div>

<div id="find">
  <div id="icon-find"></div>
  <input type="text" />
</div>

<div id="table">
    <div class="row fields">
        <div class="cell1">Title</div>
        <div class="cell2">Description</div>
        <div class="cell3">Price</div>
    </div>
    <div class="row">
        <div class="cell1">title</div>
        <div class="cell2">description</div>
        <div class="cell3">pryce</div>
    </div>
    <div class="row">
        <div class="cell1">title</div>
        <div class="cell2">description</div>
        <div class="cell3">pryce</div>
    </div>
</div>